.header {
  background-color: #5b616a;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image {
  height: 4rem;
  width: 4rem;
}

.header-temp-button {
    font-size: 1.25rem;
    padding: 0.25rem 1.25rem;
}
