@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  height: 100vh;
}

.header {
  background-color: #5b616a;
  padding: 1rem 2rem;
  color: white;
  height: 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image {
  height: 4rem;
  width: 4rem;
}

.header-temp-button {
  font-size: 1.25rem;
  padding: 0.25rem 1.25rem;
}

.header-github-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-source-image {
  height: 4rem;
  width: 4rem;
}

.content {
  height: 92%;
  background-color: #172a3a;
  font-family: "Roboto", sans-serif;
}

.location-input {
  width: 60vw;
  padding: 0.4rem;
  border: 1px solid transparent;
}

.location-input:focus {
  outline: 1px;
}

.location-submit-btn {
  background-color: #fcf7f8;
  padding: 0.4rem;
  border: 1px solid #fcf7f8;
  border-radius: 0 10% 10% 0;
}

.location-submit-btn:hover {
  cursor: pointer;
  background-color: #cfcccc;
  border-color: #cfcccc;
}

.loading-div {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-img {
    width: 20%;
}

.weather-current {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    color: white;
}

.weather-current-big {
    width: 30%;
    border-right: 1px solid white;
    padding-right: 1rem;
}

.weather-current-city {
    font-size: 1.25rem;
    text-align: center;
    overflow: hidden;
}

.weather-current-imgtemp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-current-img {
    width: 6rem;
}

.weather-current-temp {
    font-size: 3rem;
}

.hourly-forecast {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
}

.hour-forecast {
    max-width: 75px;
    text-align: center;
}

.hour-time {
    font-size: 1.5rem;
}

.hour-temp {
    font-size: 1.25rem;
}
